DATABASE_URL=postgresql://postgres:postgres@db:5432/champions
S3_BUCKET_NAME=storage
S3_ENDPOINT=s3:9000
S3_PUBLIC_BASE_URL=http://localhost:9006
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=user
RABBITMQ_PASS=password
RABBITMQ_VHOST=/
RABBITMQ_QUEUE_SCAN=scan
IMPORT_CATALOG_ON_START=1
BACKEND_URL=http://api:8000/health
